body{
    margin: 0;
    padding: 0;
    font-family: tahoma Arial, Helvetica, sans-serif;
}
#principal{
    width: 1024px;
    margin: 40px auto;
}
.header-topo{
    position: relative; 
}
.header-nav{
    position: absolute;
    top: 0;
    right: 0;  
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase; 
}
.header-nav a{
    text-decoration: none;
    color: white;
    transition: color .3s linear;
}
.header-nav a:hover{
    color: rgb(0, 255, 106);
}
.portifolio{
    padding: 50px 100px;
    text-align: center;
}
.portifolio h1{
    color: rgb(141, 123, 123);
    font-size: 40px;
}
.portifolio p{
    line-height: 2.0;
}
.galery{
    padding: 20px 100px 50px 100px;
    overflow: auto;
}
.galery-card{
    width: 32%;
    float: left;
    text-align: center;
}
.galery-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}
.about{
    background-color: #003d52;
    padding: 100px 100px 100px 100px;
    background-image: url(bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.about h2{
    font-size: 50px;
    color: white;
}
.about p{
    width: 70%;
    line-height: 1.5;
    color: white;
}
#contact{
    margin: 50px;
}

.contact-hero{
    text-align: center;
    font-size: 30px;
    color: rgb(42, 90, 38);
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
}
.maps iframe{
    width: 100%;
}
.rodape{
    background-color: gray;
    text-align: center;
    letter-spacing: 4px;
    padding: 10px;
    margin-top: 15px;
}

